
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-perspective: 12rem;
    -moz-perspective: 12rem;
    -ms-perspective: 12rem;
    -o-perspective: 12rem;
    perspective: 12rem;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    z-index: 2000;
    position:relative;
   	top:5px;
    
    
    
    margin: auto;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
}

.pace.pace-inactive .pace-progress {
    display: none;
}

.pace .pace-progress {
    
    z-index: 2000;
    display: block;
    position:relative;
    left:50%;
    top:50%;
    
    height: 8rem;
    width: 12rem !important;
    line-height: 8rem;
    font-size: 4rem;
    border-radius: 100%;
    background: rgba(212,228,239,1);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 80;
    text-align: center;



    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
}

@-webkit-keyframes pace-theme-center-circle-spin {
    from { -webkit-transform: rotateY(0deg) }
    to { -webkit-transform: rotateY(360deg) }
}

@-moz-keyframes pace-theme-center-circle-spin {
    from { -moz-transform: rotateY(0deg) }
    to { -moz-transform: rotateY(360deg) }
}

@-ms-keyframes pace-theme-center-circle-spin {
    from { -ms-transform: rotateY(0deg) }
    to { -ms-transform: rotateY(360deg) }
}

@-o-keyframes pace-theme-center-circle-spin {
    from { -o-transform: rotateY(0deg) }
    to { -o-transform: rotateY(360deg) }
}

@keyframes pace-theme-center-circle-spin {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

